<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <div class="container mt-3">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        {% set next = current_page + 1 %}
        {% set prev = current_page - 1 %}
        {% if current_page == 1 %}
          <li class="page-item disabled">
            <a class="page-link" href="/pages/index{{ current_page }}.html" tabindex="-1" aria-disabled="true">Prev</a>
          </li>
        {% else %}
          <li class="page-item"><a class="page-link" href="/pages/index{{ prev }}.html">Prev</a></li>
        {% endif %}

        {% for page in range(1, all_pages + 1) %}
          {% if page == current_page %}
            <li class="page-item active" aria-current="page">
              <a class="page-link" href="/pages/index{{ page }}.html">{{ page }}</a>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="/pages/index{{ page }}.html">{{ page }}</a>
            </li>
          {% endif %}
        {% endfor %}

        {% if current_page == all_pages %}
          <li class="page-item disabled">
            <a class="page-link" href="/pages/index{{ current_page }}.html" tabindex="-1" aria-disabled="true">Next</a>
          </li>
        {% else %}
          <li class="page-item"><a class="page-link" href="/pages/index{{ next }}.html">Next</a></li>
        {% endif %}
      </ul>
    </nav>
  </div>

  <div class="container">
    <div class="row">
    {% for book in books %}
      <div class="card mb-3 col-6" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="/{{ book['img_src'] }}" class="card-img" alt="book image">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ book['Название'] }}</h5>
                <p class="card-text">{{ book['Автор'] }}</p>
                <a href="/{{ book['book_path'] }}" class="badge badge-light" target="_blank">Читать</a>
              </div>
            </div>
          </div>
      </div>
    {% endfor %}
    </div>
  </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>